@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');


* {
  font-family: 'Josefin Sans', serif;
}

.wrap {
  max-width: 50rem;
  margin: 0 auto;
}

.content {
  width: 100%;
  border: none;
}

.sidebar {
  display: none;
}

figure, img.aligncenter {
  display: block;
  background: #eee;
  margin: 3rem auto 4rem !important; 
  transition: all 0.3s;
}

figure:hover, img.aligncenter.size-full:hover {
  background: none;
}

figure img, figure figcaption, img.aligncenter {
  opacity: 0;
  transition: all 0.3s;
}

figure:hover img, figure:hover figcaption, img.aligncenter:hover {
  opacity: 1;
}

iframe, twitterwidget {
  opacity: 0; 
  transition: all 0.3s;
}

iframe:hover, twitterwidget:hover {
  opacity: 1;
}

p, .entry-content {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

header.entry-header {
  text-align: center;
  margin-top: 5rem;
}

.entry-footer {
  margin-top: 5rem;
}

a {
  font-weight: 800;
}
